arbeit
/ignore
/portexstats
*.sh
*.py
Virus.Tirtas
codecover
fileanomalies
filelist
literature
pevscript.sh
todo
src/main/resources
.classpath
.cache
test-output
*.txt
*.TXT
vtapikey
target
bin
BinaryCollection
*.exe
project
*~
.settings
.project
