/ignore
/portexstats
/portextestfiles
/lib
/sbt
.idea
.history
.factorypath
.metadata
*.class
*.sh
*.py
UserDB.TXT
userdb.jclausing.txt
testuserdb.txt
filenotes.txt
*.png

# tex files # 
*.acn
*.acr
*.alg
*.bbl
*.blg
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.myacrin
*.myacrlog
*.myacrout
*.out
arbeit.pdf
*.thm
*.toc

codecover
.settings
.classpath
.project
/data
src/main/target/*
*.exe
*.dll

# Package Files #
*.war
*.ear
/target
/bin
vtapikey
.cache
project/project/*
project/target/*
*~
*.aux
test-output

arbeit/.svn
arbeit/appendix
arbeit/dia1
/.apt_generated
/.cache-main
/.cache-tests
